$max: 766px;
// $blue: rgb(83, 157, 192);
$primary: #fafafa;
$orange: #f7941f;

@font-face {
  font-family: "levi";
  src: url("../fonts/LEVIBRUSH.woff2");
  src: local("../fonts/LEVIBRUSH.woff2");
  src: url("../fonts/LEVIBRUSH.woff2") format("woff2");
}

section {
  // background: #b0ffe3;
  background: $primary;
  position: relative;
  // color: red;
  padding: 32px 0;
  z-index: 30;
  // text-align: justify;
  h2 {
    text-align: left;
  }
  // min-height: 100vh;
}
@keyframes lab_round {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
.banner {
  height: 100vh;
  position: relative;
  padding: 0;
  .sumbers {
    font-size: 12px;
    a {
      color: white;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    background: linear-gradient(to top, #06264d, transparent);
  }
  &__help {
    position: absolute;
    right: 16px;
    z-index: 9;
    
    @media screen and(min-width:1400px) {
      right: 10%;
      top: 54px;
      // bottom: 32px;
    }
    top: 46px;
    animation: lab_round 20s linear infinite;
    @media screen and (max-width:766px) {
      filter: brightness(.8);
      position: absolute;
      /* right: 16px; */
      right: 20%;
      left: -20%;
      z-index: 9;
      // left: 0;
      /* width: 100%; */
      top: 0;
      animation: lab_round 20s linear infinite;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }
  &__monyet {
    position: absolute;
    bottom: 82px;
    left: 50%;
    width: 200px;
    height: auto;
    transform: translate(-50%, 0);
    @media screen and (max-width:766px) {
      // display: none;
      bottom: 100px;
    }
    &.two {
      bottom: 120px;
      left: 42%;
      width: 130px;
    }
    &.three {
      bottom: 50%;
      opacity: .5;
      left: 45%;
      width: 100px;
      height: 100px;
    }
    &.four {
      bottom: 35%;
      opacity: .5;
      left: 35%;
      width: 145px;
      height: 145px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    position: absolute;
    @media screen and(min-width:1400px) {
      left: 15%;
      // top: initial;
      // bottom: 32px;
    }
    left: 32px;
    top: 32px;
    width: 700px;
    z-index: 9;
    @media screen and (max-width: 766px) {
      left: 0;
      width: fit-content;
      top: initial;
      bottom: 52px;
    }
    h2 {
      color: #fff;
      // font-weight: bolds;
      font-size: 60px;
      font-family: "Acme";
      text-shadow: 2px 2px #000;
      @media screen and (max-width:766px) {
        line-height: 46px;
        font-size: 43px;
        margin: 0 8px;
      }
    }
  }
  &__data {
    bottom: 32px;
    left: 72px;
    display: none;
    @media screen and(min-width:1400px) {
      left: 15%;
    }
    z-index: 9;
    position: absolute;
    @media screen and (max-width:766px) {
      left: 32px;
    }
    h3 {
      color: #00ff99;
      font-size: 80px;
    }
    .titlex,
    li {
      color: white;
    }
    ul {
      padding: 0 8px;
      li {
        display: block;
        position: relative;
        list-style-type: none;
        padding: 8px 0 8px 20px;
        &:nth-child(2) {
          &:after {
            background: #ff5f5e;
          }
        }
        &:after {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          transform: translate(0%, 50%);
          background: #ff9c00;
          top: 30%;
        }
        .datax,
        .number {
          display: inline-block;
        }
        .datax {
          width: 200px;
        }
      }
    }
  }
}

.wrap-detik {
  width: 640px;
  margin: 0 auto;
  display: block;
  position: relative;
  @media screen and (max-width: 766px) {
    width: auto;
  }
}

.paragraph {
  // padding-top: 0;
  background: #06264d;
  position: relative;
  z-index: 80;
  .wrap-detik {
    @media screen and (max-width: 766px) {
      margin: 0 16px;
    }
  }
  @keyframes MoveUpDown {
    0%, 100% {
      top: 0;
    }
    50% {
      top: 100px;
    }
  }
  &__help {
    position: absolute;
    left: -20%;
    top: 0;
    width: 200px;
    opacity: 0.15;
    height: 200px;
    animation: MoveUpDown 4s linear infinite;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &.two {
      filter: grayscale(1);
      top: initial;
      opacity: 0.1;
      right: -82px;
      left: initial;
      bottom: -72px;
      animation: opacities 6s linear infinite;
      @media screen and(max-width:766px) {
        right: initial;
        left: -20%;
        bottom: 5%;
      }
    }
    @keyframes opacities {
      0%, 100% {
        filter: grayscale(1);
        opacity: .1;
      }
      50% {
        filter: grayscale(.1);
        opacity: .3;
      }
    }
  }
  p,
  li {
    font-size: 18px;
    // position: relative;
    // z-index: 30;
    // color: #3a3a3a;
    @media screen and (max-width: 766px) {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 766px) {
    padding-top: 16px;
  }
  .image_ {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 480px;
    opacity: 0.1;
    display: none;
    filter: grayscale(100%);
    height: auto;
    transform: translate(-50%, 35%);
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .jokowi {
    position: absolute;
    // top: 20%;
    top: -62px;
    opacity: 0.6;
    right: -200px;
    width: 420px;
    height: 420px;
    z-index: 1;
    // opacity: 0;
    // position:absolute;
    // -webkit-animation-name: fade;
    // -webkit-animation-iteration-count: infinite;
    // -webkit-animation-duration: 3s;
    // animation-name: fade;
    // animation-iteration-count: infinite;
    // animation-duration: 3s;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 110px;
      background: $primary;
    }
    @media screen and (max-width: 766px) {
      right: -54px;
      width: 320px;
      /* bottom: 0; */
      opacity: 0.8;
      position: absolute;
      bottom: initial;
      top: 36px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: contain;
    }
  }
  #f2 {
    // animation-delay: 3s;
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    53% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .image {
    width: 85%;
    height: auto;
    // border: 8px solid;
    border: solid blur(3px) rgba(#000, 0.03);
    box-shadow: 2px 2px 5px rgba(#000, 0.2), 2px 2px 17px rgba(#000, 0.35),
      2px 2px 25px rgba(#000, 0.5);
    margin: 16px auto 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media screen and (max-width: 766px) {
      width: 100%;
    }
  }
  position: relative;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: -69px;
  //   right: 0;
  //   background: linear-gradient(to bottom, transparent, #cfd7dc);
  //   height: 80px;
  // }
  // p {
  //   text-align: justify;
  // }
}

.credit {
  border-top: 2px solid #143864;
  position: relative;
  z-index: 80;
  // background: #c3c4c5;
  background: #021934;
  // background-color: #2d3436;
  // background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  // #c6c4c4
  .doddle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name,
  .jobdesc {
    color: white;
    @media screen and (max-width: 766px) {
      font-size: 14px;
    }
  }
  .jobdesc {
    font-size: 14px;
    margin: 8px 0 0;
    // text-decoration: underline;
    // border-bottom: 1px solid;
    color: #dfdfdf;
  }
}

.hidden {
  display: none !important;
}
.sticky {
  position: fixed !important;
  top: 20px;
  width: 100%;
  right: 0;
  @media screen and (max-width: 766px) {
    top: 40px;
  }
}

// .sticky + div {
//   padding-top: 100vh;
// }
.logo-detik {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 999;
  width: 90px;
  @media screen and (max-width: 766px) {
    top: 12px;
    left: 50%;
    width: 80px;
    transform: translate(-50%, 0px);
  }
}
.footer {
  z-index: 99 !important;
}
// p {
//   text-align: justify;
// }

#shapes {
  position: absolute;
  width: 640px;
  top: 60vh;
  // margin: 0 auto 32px;
  display: block;
  // right: 0;
  z-index: 11;
  transform: skewY(-2deg);
  @media screen and (max-width: 766px) {
    width: auto;
    top: 16vh;
  }
  h1 {
    font-size: 47px;
    font-weight: 700;
    font-family: "Acme";
    // color: white;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 766px) {
      font-size: 28px;
    }
    // border-bottom: 2px solid;
    // padding-bottom: 8px;
  }
}
.circle-1 {
  position: absolute;
  border-radius: 50%;
  margin: 0;
  width: 160px;
  height: 160px;
  // border: 1px solid blue;
  background: rgba($color: #000000, $alpha: 0.1);
  top: -16px;
  left: 0px;
  animation: move1 4s linear infinite;
}

.circle-2 {
  position: absolute;
  border-radius: 50%;
  margin: 0;
  width: 160px;
  height: 160px;
  // border: 1px solid black;
  background: rgba($color: #000000, $alpha: 0.2);
  margin: 0;
  top: 60px;
  left: 45px;
  animation: move2 3.5s linear infinite;
}

@keyframes move1 {
  0% {
    transform: translate(0px);
  }

  25% {
    transform: translateX(8px);
  }

  50% {
    transform: translate(16px, 16px);
  }

  75% {
    transform: translateY(8px);
  }

  100% {
    transform: translate(0px);
  }
}

@keyframes move2 {
  0% {
    transform: translate(0px);
  }

  25% {
    transform: translateX(-8px);
  }

  50% {
    transform: translate(-16px, -20px);
  }

  75% {
    transform: translateY(-12px);
  }

  100% {
    transform: translate(0px);
  }
}

@keyframes neon {
  0% {
    text-shadow: none;
  }
  30% {
    text-shadow: 6px 6px 9px rgba(0, 139, 139, 0.7),
      -6px -6px 9px rgba(0, 139, 139, 0.7), -6px 6px 9px rgba(0, 139, 139, 0.7),
      6px -6px 9px rgba(0, 139, 139, 0.7);
  }
  50% {
    text-shadow: 6px 6px 9px rgba(255, 99, 71, 0.7),
      -6px -6px 9px rgba(255, 99, 71, 0.7), -6px 6px 9px rgba(255, 99, 71, 0.7),
      6px -6px 9px rgba(255, 99, 71, 0.7);
  }
  80% {
    text-shadow: 6px 6px 9px rgba(0, 191, 255, 0.7),
      -6px -6px 9px rgba(0, 191, 255, 0.7), -6px 6px 9px rgba(0, 191, 255, 0.7),
      6px -6px 9px rgba(0, 191, 255, 0.7);
  }
  100% {
    text-shadow: 6px 6px 9px rgba(220, 20, 60, 0.7),
      -6px -6px 9px rgba(220, 20, 60, 0.7), -6px 6px 9px rgba(220, 20, 60, 0.7),
      6px -6px 9px rgba(220, 20, 60, 0.7);
  }
}

.contentx {
  background: #06264d;
  position: relative;
  .is {
    @media screen and (max-width: 766px) {
      display: none;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
    height: auto;
    width: 100%;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .detail-refund {
    position: relative;
    z-index: 20;
    background: #06264d;
    padding: 16px;
    @media screen and (max-width: 766px) {
      padding: 16px 0;
    }
    .ul-cat {
      display: block;
      padding: 0;
      li {
        display: inline-block;
        margin: 4px 2px;
        background: rgba(255,255,255,.1);
        padding: 4px 16px;
        border-radius: 4px;
        cursor: pointer;
        &.activeMenu,&:hover {
          background: rgba(2,25,52,.8);
        }
      }
    }
  }
  &__doc {
    position: absolute;
    left: -30%;
    top: 0;
    z-index: 5;
    height: 400px;
    width: auto;
    @media screen and(max-width:766px) {
      left: 0;
      height: 230px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &.twox {
      left: initial;
      top: initial;
      right: -30%;
      bottom: 0;
      @media screen and (max-width: 766px) {
        display: none !important;
      }
    }
  }
  &__img {
    width: 100px;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .open {
    display: block;
    animation: showup 0.8s ease-in-out;
  }
  @keyframes showup {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.2;
    }
    70% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .refund {
    padding: 32px 0;
  }
  .category-click {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 18;
    text-align: center;
    @media screen and (max-width: 766px) {
      margin-left: 150px;
    }
    .category-airline {
      // border: 1px solid;
      cursor: pointer;
      display: inline-block;
      width: 150px;
      text-align: center;
      font-weight: bold;
      height: 64px;
      vertical-align: middle;
      margin: 8px;
      padding: 8px;
      box-shadow: 0 3px 6px #bbb;
      transition: 0.3s;
      &:hover {
        background: rgba(2,25,52,.8);
      }
      i {
        @media screen and (max-width: 766px) {
          display: none;
        }
      }
      @media screen and (max-width: 766px) {
        width: 160px;
        text-align: center;
        margin: 8px;
        font-size: 14px;
        height: auto;
      }
      .airline-name {
        
      }
    }
  }

  .closer {
    cursor: pointer;
    text-align: center;
    /* border: 1px solid; */
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    padding: 2px 8px;
    transition: .2s;
    background: rgba(255,255,255,.1);
    &:hover {
      background: rgba(255,255,255,.2);
    }
  }
  .twox {
    display: none;
  }
  .airline-content {
    display: none;
    &__icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    // transition: 0.3s;
  }
}
.loading {
  display: none;
}
.bg-category {
  background: rgba($color: #021934, $alpha: 0.8);
}


.wrapper-box {
  // display: none;
  table {
    // background: rgba($color: #fff, $alpha: .03);
    background: rgba(2,25,52,.25);
  }
}

.nonee {
  list-style-type: none;
  padding:0;
  li {
    margin-bottom: 16px;
    .text,.image {
      display: inline-block;
      vertical-align: middle;
    }
    .text {
      width: 70%;
      @media screen and (max-width:766px) {
        width: 60%;
      }
    }
    .image {
      width: 25%;
      height: 100px;
      @media screen and (max-width:766px) {
        width: 35%;
        height: 120px;
        margin-right: 8px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.sources {
  background: #06264d;
  a {
    transition: .2s;
    &:hover {
      color: #dfdfdf;
      margin-left: 3px;
      text-decoration: none;
    }
  }
}

.card-img {
  // width: 640px;
  width: fit-content;
  margin: 0 auto 4px;
  // height: 200px;
  text-align: center;
  border-radius: 16px;
  margin: 16px 0;
  .sumbernya {
    a {
      font-size: 12px;
      color: white;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media screen and (max-width:766px) {
    width: auto;
  }
  // background: rgba($color: #fff, $alpha: .5);
  // box-shadow: 0 2px 6px #bbb;
  img {
    width: 100%;
    border-radius: 16px;
    height: 100%;
    object-fit: contain;
  }
}

.no-radius {
  border-radius: 0 !important;
  img {
    border-radius: 0 !important;
  }
}